<h2><%= @cocktail.name %></h2>
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.association :ingredients %>
  <%= f.association :doses %>
  <%= f.button :submit %>
<% end %>
<%= link_to "Back to Cocktails", cocktails_path %>
